backend:
  name: github
  repo: https://github.com/rishi-sevakula/qi-documentation/tree/main/docs
  branch: main
  base_url: https://qi-documentation.vercel.app
  auth_endpoint: /api/auth

media_folder: static/img
public_folder: /img

collections:
  - name: docs
    label: Docs
    folder: docs
    create: true
    slug: "{{slug}}"
    extension: md
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Body, name: body, widget: markdown }